zig-cache
zig-out/bin
tiled/etm.tiled-session
build/src
compile_commands.json
escape-the-mansion
.cache/clangd/index
build/libs
build
libs/libtmj/CMakeFiles
libs/libtmj/CMakeCache.txt
libs/libtmj/Makefile
libs/libtmj/cmake_install.cmake
libs/libtmj/lib
